<div>
    <div class="container">
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-md-12 text-justify">
                <h4>{{contactData.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h6>Phone Number:</h6>
            </div>
            <div class="col-md-6">
                <h6><a href="tel:{{contactData.phoneNumber}}">{{contactData.phoneNumber}}</a></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h6>Address:</h6>
            </div>
            <div class="col-md-6">
                <h6>{{contactData.address}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h6>Email:</h6>
            </div>
            <div class="col-md-6">
                <h6><a href="mailto:{{email}}">{{contactData.email}}</a></h6>
            </div>
        </div>
    </div>
</div>