<div>
    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" ng-repeat="item in items" class="{{activeState($index)}}" data-slide-to="{{$index}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div ng-repeat="item in items" class="item {{activeState($index)}}">
                <a href="/RecordShop/index.html#/items/{{item.id}}">
                    <img src="{{item.img}}" alt="{{item.name}}">
                    <div class="carousel-caption">
                        <h3>{{item.name}}</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- Controls -->
        <span class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </span>
        <span class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
    </div>
    <!-- Carousel -->
</div>