<div>
    <div class="container">
        <h2>Registration</h2>
        <br/><br/>

        <form ng-submit="onSubmit()">

            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-md-3">
                        <input name="username" type="text" ng-model="username" />
                    </div>
                </div>

                <div class="row" ng-if="errors['username'] != null">
                    <div class="text-danger">
                        {{errors['username']}}
                    </div>
                </div>
                <br ng-if="errors['username'] == null"/>
                <br/>
                
                <div class="row">
                    <div class="col-md-3">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-3">
                        <input name="password" type="password" ng-model="password" />
                    </div>
                </div>

                <div class="row" ng-if="errors['password'] != null">
                    <div class="text-danger">
                        {{errors['password']}}
                    </div>
                </div>
                <br ng-if="errors['password'] == null"/>
                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-md-3">
                        <input name="name" type="text" ng-model="personalData.name" />
                    </div>
                </div>

                <div class="row" ng-if="errors['name'] != null">
                    <div class="text-danger">
                        {{errors['name']}}
                    </div>
                </div>
                <br ng-if="errors['name'] == null"/>
                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <label for="surname">Surname</label>
                    </div>
                    <div class="col-md-3">
                        <input name="surname" type="text" ng-model="personalData.surname" />
                    </div>
                </div>

                <div class="row" ng-if="errors['surname'] != null">
                    <div class="text-danger">
                        {{errors['surname']}}
                    </div>
                </div>
                <br ng-if="errors['surname'] == null" />
                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <div class="col-md-3">
                        <input type="tel" ng-model="contactData.phoneNumber" />
                    </div>
                </div>

                <br/><br/>
                
                <div class="row">
                    <div class="col-md-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-md-3">
                        <input type="email" ng-model="contactData.email" />
                    </div>
                </div>

                <br/><br/>
                
                <div class="row">
                    <div class="col-md-3">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-md-3">
                        <input name="address" type="text" ng-model="contactData.address" />
                    </div>
                </div>

                <div class="row" ng-if="errors['contact'] != null && errors['contact'] != []">
                    <div ng-repeat="error in errors['contact']" class="text-danger">
                        {{error}}
                    </div>
                </div>
                <br ng-if="errors['contact'] == null || errors['contact'] == []" />
                <br/><br/>

                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="Submit" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>